@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-keyboard_arrow_left:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e903";
}
.icon-arrow_drop_down:before {
  content: "\e901";
}
.icon-out:before {
  content: "\e907";
}
.icon-eye:before {
  content: "\e905";
}
.icon-views:before {
  content: "\e905";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-commenting-o:before {
  content: "\e906";
}
.icon-heart-o:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e902";
}