@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-cheveron-down:before {
  content: "\e913";
}
.icon-menu:before {
  content: "\e907";
}
.icon-red:before {
  content: "\e905";
}
.icon-like:before {
  content: "\e906";
}
.icon-dropdown:before {
  content: "\e908";
}
.icon-facebook2:before {
  content: "\e909";
}
.icon-mail2:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e912";
}
.icon-notice:before {
  content: "\e90b";
}
.icon-camera:before {
  content: "\e90c";
}
.icon-finger:before {
  content: "\e90d";
}
.icon-hand:before {
  content: "\e90e";
}
.icon-login:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-mail:before {
  content: "\e911";
}